{% extends 'base.html.twig' %}
{% block user %}
<div class="user-pannel">

    Hello, <strong>{{ User().realName }}</strong>
    |
    Points: <strong>{{ User().points }}</strong>
    |
    Level: <strong>{{ User().level|default('N/A') }}</strong>
    {% if User().status == constant('App\\Entity\\User::STATUS_ANON') %}
    |
    <a href="{{ path('app_login') }}">Login</a>
    |
    <a href="#">Register</a>

    {% else %}
    <a href="{{ path('app_logout') }}">Logout</a>
    {% endif %}
</div>
{% endblock %}